/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.section {
    width: 500px;
    margin: 0 auto 0;
}

/* === header === */

.header {
    text-align: right;
    font-family: fantasy, cursive;
}

.header__img {
    width: 100%;
}

/* === header === */

.main__section-name {
    margin: 0 0 20px;
    padding: 30px 0 10px;
    font-size: 15px;
    border-bottom: 2px solid #333;
    text-transform: uppercase;
}

.main__task-line-wrapper {
    display: flex;
}

.main__new-task {
    flex-grow: 1;
}

.btn {
    width: 60px;
    font-size: 15px;
    color: #888;
    background: none;
    border: 0px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: #3a3a3a;
}

.input-task {
    margin: 0;
    font-size: 18px;
    padding: 0 9px;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    outline: none; 
}

.input-task:focus {
    color: #333;
}

.list-tasks {
    margin: 0;
    padding: 0;
}

.list-tasks__task {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-tasks__input-checkbox {
    margin: 0 10px;
}

.list-tasks__name-task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.btn__cross-icon {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.btn-delete-task:hover
.btn__cross-icon {
    transform: rotateZ(0);
}

.completed-tasks
.list-tasks__name-task {
    text-decoration: line-through;
    color: #888;
}

.list-tasks__task
.input-task {
    display: none;
}

.list-tasks__task_edit-mode
.input-task {
    display: inline-block;
    width: 224px;
}

.list-tasks__task_edit-mode
.list-tasks__name-task {
    display: none;
}

@media (max-width:768px) {
    .header {
        text-align: center;
    }
}